@import '../../../scss/foundation/variables';
.nav-item{
    @media (max-width:$sm){
        display: none;
    }

    list-style-type: none;

    & a{
        color: $white;
        text-decoration: none;
        font-family: $open-sans;
        font-size: 1.6rem;
        text-shadow: 2px 2px $warrior-ink;
        text-transform: uppercase;
        font-weight: $bold;
        letter-spacing: $nav-links-letter-spacing;
        transition: all .15s ease-in-out;

        &:hover{
            font-weight: $boldest;
            font-size: 2rem;
        }
    }
}