@import '../../../scss/foundation/variables';

main{
    min-height: 969px;
    background: url('../../../assets/main-image.jpg');    
    background-size: cover;
    background-position: center;
    position: relative;

    @media (max-width:$md){
        background-position: 70%;
    }
    
    & .hero-text-container{
        // background-color: rgb(17, 17, 17);
        @media (max-width:$sm) {
                left: 40%;
        }
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);    
        & h1{
            @media (max-width:$sm) {
                font-size: $h2;
            }
            font-family: $bebas-neue;
            font-size: $h1;
            letter-spacing: $h1-letter-spacing;
            text-shadow: 4px 4px $warrior-ink;
            color: $white;
            text-align: center;
            text-transform: uppercase;
        }

        & h3{ 
        
            font-family: $bebas-neue;
            font-size: $h3;
            text-align: center;
            padding: 0 10rem;
            letter-spacing: $h3-letter-spacing;
            text-shadow: 2px 2px $warrior-ink;
            color:$white;

            @media (max-width:$sm){
                margin-top:4rem;
                font-family: $open-sans;
                font-size: 1.2rem;
                letter-spacing: 0;
                font-weight: $regular;
                padding: 0;
                text-align: start;
            }

            @media (min-width:$xl) {
                padding: 0;
            }

            @media (min-width:$lg){
                padding: 0;
                font-size: $h5;
            }
           
        }
    }

    & .story-button{
        position: absolute;
        border: none;
        background-color: transparent;
        font-weight: $bold;
        font-size: 1.2rem;
        color: $white;
        font-family: $open-sans;
        text-transform: uppercase;
        cursor: pointer;
        bottom: 6rem;
        left: 50%;
        transform: translate(-50%);
    }

    & .scrollDownTriange-image{
         position: absolute;
         bottom: 4rem;
         left: 50%;
         transform: translate(-50%);
    }
}