.battle-requirements{
    min-height: 100vh;
    background-color: cadetblue;
    background: url('../../../assets/radialGradient.png'),url('../../../assets/battle-requirements1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}