.battles{
    min-height: 100vh;
    background: url('../../../assets/radialGradientBattles.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:black;
}