@import '../../../scss/foundation/variables';

.newsletter{
    min-height: 969px;
    background: url('../../../assets/ArtOfWarBookCover.png'),url('../../../assets/radialGradientBattles.png');
    background-color: rgba(0, 0, 0, 0.959);
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-position: 15%;
    color: $white;
    position: relative;

    & .book-description{
        max-width: 45%;
        min-width: 45%;

        position: absolute;
        left: 50%;
        top: 20%;
        & p{
            color: $white;
            text-align: justify;
            font-size: $p;
            font-family: $open-sans;
            font-style: normal;
            font-weight: $regular;
            line-height: 2.2rem;
        }

        & h1{
            color: $white;
            font-size: $h1;
            font-family: $bebas-neue;
            font-style: normal;
            font-weight: $bold;
            line-height: normal;
            letter-spacing: $h1-letter-spacing;
            text-transform: uppercase;
        }

        & h3{
            color: $white;
            font-size: $h3;
            font-family: $bebas-neue;
            font-style: normal;
            font-weight: $bold;
            line-height: normal;
            letter-spacing: $h3-letter-spacing;
        }

        & button{
            margin-top: 2rem;
            border: none;
            border-radius: 0.4rem;
            padding: 1rem;
            background: $warrior-red;
            color: #1A1917;
            text-align: center;
            font-size: 1.6rem;
            font-family: $open-sans;
            font-style: normal;
            font-weight: $bold;
            line-height: normal;
            text-transform: capitalize;
            cursor: pointer;

            & a{
                text-decoration: none;
                color: inherit;
            }

            &:hover{
                background-color: $warrior-ink;
                color: $warrior-red; 
                transform: scale(1.05);
            }
        }

    }


}