.testimonials{
    min-height: 100vh;
    background: url('../../../assets/testimonialGradient.png'),url('../../../assets/testimonial-bg-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}